/* Space out content a bit */
body {
    padding-top:60px;
}

.app-container{
  min-height: 300px;
  background: url('/images/preloader.gif') center center no-repeat;
}

.app{
    background-color: #fff;
    min-height: 300px;
}

.deleted{
    opacity: 0.2;
}

.entry-submitted{
  opacity: 0.7;
}

table
{
    table-layout:fixed;
}

table .hours, table .overtime{
    width:70px;
}

table .buttons, table .status{
    width:100px;
}

table .date{
    width:100px;
}
