/* Space out content a bit */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
    padding-top:60px;
}

.app-container{
  min-height: 300px;
  background: url('/images/preloader.gif') center center no-repeat;
}

.app{
    background-color: #fff;
    min-height: 300px;
}

.deleted{
    opacity: 0.2;
}

.entry-submitted{
  opacity: 0.7;
}

table
{
    table-layout:fixed;
}

table .hours, table .overtime{
    width:70px;
}

table .buttons, table .status{
    width:100px;
}

table .date{
    width:100px;
}

table .submit-checkbox{
    width:40px;
}

.search h4{
  margin: 0 0 10px 15px;
}

#calendar th:not(:first-child), #calendar td:last-child, #calendar tfoot td:not(:first-child) {
  background-color: #eeeeed;
}

#calendar tfoot td, #calendar td:last-child {
  color: #999999;
  font-weight: bold;
}

#calendar thead th:last-child {
  max-width: 60px !important
}

#calendar tbody tr{
  border-radius: 20px;
  background-color: pink;
}

#calendar th:last-child{
  width: 90px;
  border-top-right-radius: 10px;
}

#calendar tfoot td:last-child{
  border-bottom-right-radius: 10px;
  padding-bottom: 25px
}

#calendar, #calendar td, #calendar tr, #calendar th{
  border: 0;
}

#calendar tbody tr:nth-child(1) td:nth-child(1) {
  border-top-left-radius: 10px !important;
}

#calendar tbody tr:last-child td:nth-child(1) {
  border-bottom-left-radius: 10px !important;
}

#calendar tbody td:nth-child(1){
  color:black;
  vertical-align: middle;
  font-weight: bold;
}

#calendar input{
  border: 0
}

.rounded-top-left{
  border-top-left-radius: 10px
}

.rounded-top-right{
  border-top-right-radius: 10px
}

.rounded-bottom-left{
  border-bottom-left-radius: 10px
}

.rounded-bottom-right{
  border-bottom-right-radius: 10px
}

.faded{
  opacity: 0.4
}

#calendar input::before {

}

#calendar input::-webkit-outer-spin-button,
#calendar input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.note {
  position: relative;
  color: #fafafa;
  font-size: 16px;
}

.note input {
  height: 32px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.note input { text-align: center;}
.note .fa-sticky-note {
  position: absolute;
  color:#68d9be;
  top: 10px;
  right: 10px;
}

.note .submitted {
  color:#999;
}
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
* { box-sizing:border-box; }

textarea.note  {
	display: block;
	padding:15px 15px 20px;
	margin:0 auto 0px auto;
	width:200px;
	height:150px;
	font:14px 'Gloria Hallelujah', cursive;
	line-height:1.5;
	border:0;
  color: #000;
	border-radius:3px;
	background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
	background: -moz-linear-gradient(#F9EFAF, #F7E98D);
	background: -o-linear-gradient(#F9EFAF, #F7E98D);
	background: -ms-linear-gradient(#F9EFAF, #F7E98D);
	background: linear-gradient(#F9EFAF, #F7E98D);
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	overflow:hidden;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
	max-width:520px;
	max-height:250px;
}

textarea.note:hover { box-shadow:0 5px 8px rgba(0,0,0,0.15); }
textarea.note:focus { box-shadow:0 5px 12px rgba(0,0,0,0.2); outline:none; }
.sticky-note{
  position: absolute;
  z-index: 100;
}

.sticky-note{
  display: none;
}

.sticky-note .btn  {
  width: 50%;
  float:left;
  padding: 5px;
  text-align: center;
}

.sticky-note .save {
  background: green;
  border-right: 1px solid #000
}

.sticky-note .delete {
  background: red;
}

.sticky-note .close-btn {
  border-radius: 10px;
  background-color: rgba(153,153,153,0.5);
  border-color: blue;
  border-width: thin;
  cursor: pointer;
  position: inherit;
  right: 4%;
  z-index: 10;
  width: 20px;
  color: #fff;
  top: 4%;
  text-align: center;
}

.center {
  text-align: center;
}

.addTaskBtn {
    padding: 10px;
    background: rgb(208, 221, 43);
    color: white;
    text-decoration: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.addTaskBtn:hover{
  text-decoration: none;
}

.selectize-control .selectize-input.disabled {
  opacity: 0.9;
}

.carousel-inner .item{
  text-align: center;
}

.carousel-control.right, .carousel-control.left{
  background-image: none;
}

.opt-title{
  font-weight: bold;
  display: block;
}

.opt-project{
  color: grey;
  font-weight: lighter;
}

.selectize-control.single .selectize-input:after{
  border-color: #fff transparent transparent transparent
}

.selectize-control.single .selectize-input, .selectize-dropdown.single{
  border-color: #fff;
}

.selectize-control.single .selectize-input:focus {
  color: grey;
  background-color: #fff;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

:-ms-input-placeholder {
   color: #fff;
}

@media (max-width: 767px) {
  .summary-table {
      width: 100% !important;
  }

  .summary-table thead th:nth-child(1), .summary-table tbody td:nth-child(1){
      width: 22% !important;
  }
}


.selectize-control.single .selectize-input:not(:focus) {
   -webkit-box-shadow: none;
   box-shadow: none;
   background-color: rgba(255, 255, 255, 0.25);
   color: #fff;
   font-weight: bold;
   background-image: -moz-linear-gradient(top, transparent, transparent);
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(transparent));
   background-image: -webkit-linear-gradient(top, transparent, transparent);
   background-image: -o-linear-gradient(top, transparent, transparent);
   background-image: linear-gradient(to bottom, transparent, transparent);
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#fff2f2f2', GradientType=0);
}

#task-carousel{
  background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
	background: -moz-linear-gradient(#F9EFAF, #F7E98D);
	background: -o-linear-gradient(#F9EFAF, #F7E98D);
	background: -ms-linear-gradient(#F9EFAF, #F7E98D);
	background: linear-gradient(#F9EFAF, #F7E98D);
  padding: 10px 0px;
}
