<br/>
<div class="row">
  <div class="col-md-3">
    <div class="stat-box tngnt-green-bg animated fadeInDown">
      <div class="row">
        <div class="col-md-4">
          <img style="width:100%" src="/images/icons/mug11.png" />
        </div>
        <div class="pull-right col-md-4 stat">
          {{usersummary.get_project_breakdown.index.length | zpad:2}}
        </div>
      </div>
      <div style="margin: 5px 0; color:#fff; font-weight:bold">Active Projects</div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="stat-box tngnt-red-bg animated fadeInDown" style="-webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.5;">
      <div class="row">
        <div class="col-md-4">
          <img style="width:100%" src="/images/icons/Today-100.png" />
        </div>
        <div class="pull-right col-md-4 stat">
          {{usersummary.hours_by_day.data.length | zpad:2}}
        </div>
      </div>
      <div style="margin: 5px 0; color:#fff; font-weight:bold">Total Entries</div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="stat-box tngnt-grey-bg animated fadeInDown"  style="-webkit-animation-duration: 2.0s;
  -webkit-animation-delay: 0.5;">
      <div class="row">
        <div class="col-md-4">
          <img style="width:100%" src="/images/icons/So So-100.png" />
        </div>
      </div>
      <div style="margin: 5px 0; color:#fff; font-weight:bold">Average Hours</div>
      <div class="row">
        <div class="pull-right col-md-4 stat">
          {{usersummary.overview.avg_hours | zpad:2}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="stat-box tngnt-orange-bg animated fadeInDown"  style="-webkit-animation-duration: 2.5s;
  -webkit-animation-delay: 0.5;">
      <div class="row">
        <div class="col-md-4">
          <img style="width:100%" src="/images/icons/Sigma-100.png" />
        </div>
      </div>
      <div style="margin: 5px 0; color:#fff; font-weight:bold">Total Hours</div>
      <div class="row">
        <div class="pull-right col-md-4 stat">
          {{usersummary.overview.total_hours | zpad:2}}
        </div>
      </div>
    </div>
  </div>
</div>
<br/><br/>
<div class="row">
  <div class="col-md-12">
    <div class="">
      <div class="col-md-6">
        <canvas id="line" class="chart chart-line" chart-data="[usersummary.hours_by_day.data]"
          chart-labels="usersummary.hours_by_day.index" chart-legend="true" chart-series="series" chart-colours="colors">
        </canvas>
      </div>
      <div class="col-md-6">
        <canvas id="polar-area" class="chart chart-pie" chart-legend="true" chart-colours="colors"
          chart-data="usersummary.get_project_breakdown.data" chart-labels="usersummary.get_project_breakdown.index">
        </canvas>
      </div>
    </div>
  </div>
</div>
</div>
