<div class="row">
  <div class="col-md-12">
    <h3>Dashboard</h3>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-3">
    <div class="stat-box">
      <div class="row">
        <div class="col-md-5">
          <img style="width:100%" src="/images/icons/Worker-100.png" />
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="stat-box">
      <div class="row">
        <div class="col-md-5">
          <img style="width:100%" src="/images/icons/pivotal.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="stat-box">
      <div class="row">
        <div class="col-md-5">
          <img style="width:100%" src="/images/icons/GitHub-100.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="stat-box">
      <div class="row">
        <div class="col-md-5">
          <img style="width:100%" src="/images/icons/Clock-100.png" />
        </div>
      </div>
    </div>
  </div>
</div>
<br/><br/>
<div class="row">
  <div class="col-md-12">
    <div class="stat-box-major">
      <div class="col-md-12">
        <chartist class="ct-chart" chartist-data="barData" chartist-chart-options="chartOpts" chartist-chart-type="Line"></chartist>
      </div>
    </div>
  </div>
</div>
