<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Task</th>
                <th>Hours</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody ng-repeat="entry in entries">
            <tr class="entry-{{entry.status.toLowerCase()}}">
                <td>{{ entry.day | date:'EEE, d MMM yyyy'}}</td>
                <td>{{ GetTask(entry).project_data.title}} - {{ GetTask(entry).title }}</td>
                <td>{{ entry.hours }}</td>
                <td>{{ entry.status }}</td>
            </tr>
            <tr class="table-comments">
                <td colspan="7">{{ entry.comments }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr/>
</div>
